/*
Fonts: Abril Fatface
Title: font-family: 'Abril Fatface', cursive;
Questions: font-family: 'Abril Fatface', cursive;
Answers: font-family: 'Abril Fatface', cursive;

Colors
Submit Button:
Check-button:
Radio-button:
Content:
*/
:root {
  --main-font: "Abril Fatface", cursive;
  --lg-font: ;
  --md-font: ;
  --sm-font: ;
  --bg-color: #66666e;
  --text-color: #f4f4f6;
  --chk-btn-style: ;
  --rad-btn-style: ;
}

html {
  font-size: 100%;
}

body {
}

#title {
}

#descripton {
}

main {
}

#survey-form {
}

#name-label,
#email-label,
#number-label {
}

#dropdown {
}

#radio-btn {
}

#check-btn {
}

#text-area {
}

#submit-btn {
}
