/*
Fonts
Title: 
Questions:
Answers:

Colors
Submit Button:
Check-button:
Radio-button:
Content:
*/

body {
}

#title {
}

#descripton {
}

main {
}

#survey-form {
}

#name-label,
#email-label,
#number-label {
}

#dropdown {
}

#radio-btn {
}

#check-btn {
}

#text-area {
}

#submit-btn {
}
