//Colors
$bgDark:#023047;
$textTitle:#023047;
$bgLight:#8ECAE6;
$textColor:#fff;
$colorLink:#FFB703;
$colorLink2:#fb8500;

//Font-weight
$titleW:500;
$labelW:400;
$contentW:200;

//Font
$font: Inter, sans-serif;

@mixin titleStyle {
      color: $textTitle;
      font: $titleW 2rem $font ;
      text-align: center;
}

@mixin textStyle {
      color: $textColor;
      font:  $contentW 1rem $font;
      text-align: center;
}

@mixin liStyle{
      color: $textColor;
      font:  $contentW 1rem $font;
      text-align: left;
}
@mixin paraStyle {
      color: $textTitle;
      font: $titleW 0.875rem $font ;
      text-align: center;
}

@mixin textLink {
      color: $colorLink;
}

@mixin imgcap_style {
      text-align: center;

}

html {
      font-size: 100%;
}

body {
      background: $bgDark;
}

#main {
      background: $bgLight;
      border-radius: 10px;
}



h2{
      @include titleStyle;
}

#title {
      @include titleStyle;
      margin-bottom: -20px;
      padding:  30px ;
}

#img-div, #img-caption {
      @include textStyle;

}

#image {
      align-items: center;
      display: block;
      max-width: 100%;
      height: auto;
      border-radius: 8px;
      margin-bottom: 15px;
}

p {
      @include paraStyle;
      margin-top: -15px;
      padding: 15px 10px;
}

li,
#tribute-info {
      @include liStyle;
      display: block;
      list-style-type: none;
      padding-inline-start: 10%;
      padding-bottom: 5px;
}

#tribute-link {
      @include textLink;
      text-decoration: none;
      
}

 a:hover {
      color: $colorLink2;
      transition: $colorLink2 2s;
      font: 700;
}

.footer {
      @include textStyle;
}