/*
Fonts:
      Title: 500W
      Labels: 400W
      Content: 200W
Colors:
      Titles, Bg: darkBlue #023047
      Content: mediumBlue #219EBC
      SecondBg: lightBlue #8ECAE6
      Link: Yellow #FFB703
Sizes: em rem px %

*/
/*
--Variables--
Colors:
--bgDark:#023047;
--textTitle:#023047;
--bgLight:#8ECAE6;
--textColor:#219EBC;
--colorLink:#FFB703;
--colorLink2:#fb8500;

Google Fonts:
--titleFont:;
--titleLabelFont:;
--contentFont:;
*/

:root {
  --bgDark: #023047;
  --textTitle: #023047;
  --bgLight: #8ecae6;
  --textColor: #219ebc;
  --colorLink: #ffb703;
  --colorLink2: #fb8500;
}
html {
  font-size: 125%;
}

body {
  background-color: var(--bgDark);
}
#main {
  background-color: var(--bgLight);
}
#title,
h2 {
  color: var(--textTitle);
  text-align: center;
  font-size: 2 rem;
}
#img-div {
  text-align: center;
}
#image {
  max-width: 100%;
  height: auto;
  align-items: center;
  display: block;
}
#img-caption {
  color: var(--textColor);
  font-size: 0.875rem;
}

p {
  text-align: center;
  color: var(--textTitle);
}

#tribute-info,
li {
  color: var(--textColor);
  text-align: center;
  list-style-type: none;
  font-size: 1.25rem;
}
#tribute-link {
  color: var(--colorLink);
}
a:hover,
a:active {
  color: var(--colorLink2);
  font-weight: bold;
}

.footer {
  color: var(--bgLight);
  font-size: 0.875rem;
}
